<!DOCTYPE html>
<html lang="en" data-layout="semibox" data-layout-style="default" data-sidebar="dark" data-topbar="dark"
    data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-layout-mode="dark"
    data-layout-width="fluid" data-layout-position="fixed" data-sidebar-visibility="show">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | ForexPrime</title>
    @!section('head')
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    {{-- Begin page --}}
    <div id="layout-wrapper">

        @include('includes/header')
        <!-- removeNotificationModal -->
        {{-- @!component('components/removeNotificationModal') --}}
        {{-- App mennu --}}
        @include('includes/app-menu')
        {{-- Vertical overlay --}}
        <div class="vertical-overlay"></div>
        {{-- Start right Content here --}}
        <div class="main-content">
            <div class="page-content">
                @!section('body')
                {{--
            </div> --}}
            {{-- end page content --}}
            @include('includes/footer')
        </div>
        {{-- end main content --}}
    </div>
    {{-- End page --}}

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    @section('scripts')
    {{--
    <script src="//code.tidio.co/yd6swpqdh9eqcuvtec3bampn72xmhqtw.js" async></script> --}}
    <!-- JAVASCRIPT -->
    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>

    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <script src="/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/assets/js/plugins.js"></script>

    <!-- apexcharts -->
    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="/assets/js/pages/dashboard-ecommerce.init.js"></script>

    <!-- apexcharts -->
    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- piecharts init -->
    <script src="/assets/js/pages/apexcharts-pie.init.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.js"></script>
    @end

</body>

</html>